:root {
  --Fogo-Color: #fc7046;
  --FontColors: #FFFFFF;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}

body {
  background-image: url("https://media.wizards.com/images/magic/daily/wallpapers/Golgari_Wallpaper_1920x1080.jpg");
  /* background-color: #2B2B2B; */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.subtitulo {
  text-align: center;
}

.form-row {
  margin: 20px;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  padding-top: 2%;
  text-align: center;
  color: var(--FontColors);
}

h2 {
  padding-top: 2%;
  color: var(--FontColors);
}

input {
  position: relative;
}

label {
  color: var(--FontColors);
}

.title {
  color: var(--FontColors);
}

.Sidebar {
  position: fixed;
  display: flex;
  background-color: #f1f1f1;
  height: 500vw;
}

.card-img {
  width: auto;
  height: 15vw;
  margin: 20px 0;
  padding: 0.1em 0.1em;
  border: transparent;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  background: transparent;
  border-radius: 0 10px 10px 10px;
  transition: 0.5s;
}

.card-img:hover {
  transition: 0.5s;
  background: linear-gradient(90deg, #fc7046 0%, #fbdf3f 100%);
  cursor: pointer;
}

/* INPUT+BTN */

.input-group {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  outline: 0;
}

.submit-button {
  font-size: 0.8rem;
  padding: 0.5em 1em;
  border: transparent;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
  background: #2E2E2E;
  transition: 0.3s;
}

.submit-button:hover {
  transition: 0.3s;
  background: linear-gradient(90deg, #fc7046 0%, #fbdf3f 100%);
  cursor: pointer;
}

.submit-button:active {
  transform: translate(0em, 0.2em);
}

.submit-button span {
  font-weight: 800;
  letter-spacing: 2px;
  background: #f1f1f1;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}

.submit-button:hover span {
  background: #2E2E2E;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}

#input-field {
  outline: 0;
  background-color: #2E2E2E;
  border: none;
  width: 30vw;
  padding-left: 8px;
  color: var(--FontColors);
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
  color: rgb(184, 184, 184);
}

/* INPUT+BTN */

/* MODAL */
/* Estilo do Modal */
.modal {
  display: none;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: grayscale(30%);
  overflow: visible;
}

.modal-content {
  background: transparent;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
  text-align: center;
  position: relative;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.teste11{
  padding: 0px 150px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
}


.close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

.modal-button-close {
  background-color: #ccc;
  padding: 10px 20px;
  border: none;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  text-transform: uppercase;
}

.modal-button-close:hover {
  background-color: #aaa;
}

.contentInfoCard {
  display: block;
    border: 1px solid rgba(0,0,0,0.25);
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    margin: 0 0 0 0px;
    max-width: 420px;
    padding: 0 0 15px 0;
    font-size: 16px;
    color: #16161D;
    width: 100%;
}

.card-texto-titulo {
  font-weight: bold;
  padding: 8px 12px 8px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 20px;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

@media screen and (min-width: 980px){
.callingCard {
  margin: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 336px;
  -ms-flex: 0 0 336px;
  flex: 0 0 336px;
}
}
@media screen and (min-width: 720px){
.callingCard {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 336px;
  -ms-flex: 0 0 336px;
  flex: 0 0 336px;
}
}
@media screen and (min-width: 350px){
.callingCard {
  padding-bottom: 0;
  height: 468px;
  width: 336px;
}
}
.callingCard {
  margin-bottom: 60px;
  overflow: visible;
  position: relative;
  z-index: 10000;
  height: 400px;
  width: 300px;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.front-callingCard{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.modal-image {
  /* display: flex;
  max-width: 25%;
  padding-left: 8vw;
  height: auto; */
  /* padding-bottom: 0;
    height: 468px;
    width: 336px;
    border-radius: 100%;
    overflow: visible;
    position: relative;
    z-index: 10000;
    -webkit-box-flex: 0;
    flex: 0 0 336px; */

    background-image: repeating-linear-gradient(-55deg, #DDD, #DDD 5px, #CCC 5px, #CCC 10px);
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    border-radius: 4.75% / 3.5%;
    width: 100%;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.5);

}

.mana-icon {
  padding-left: 1vw;
  padding-top: 1vh;
  width: 25px;
  height: 25px;
}

.Modalboxtxtt {
  padding: 11px 6px 12px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 15px;
  line-height: 18px;
}

.Artpintura {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 9px 12px;
}
.btnnn{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);  
}
.add-to-deck-button{
  font-size: 0.8rem;
  padding: 0.5em 1em;
  border: transparent;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
  background: #2E2E2E;
  transition: 0.3s;
  color: #ccc;
}
.add-to-deck-button:hover{
  transition: 0.3s;
  background: linear-gradient(90deg, #fc7046 0%, #fbdf3f 100%);
  cursor: pointer;
}

#modalType {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 9px 12px 9px 12px;
  font-size: 15px;
}

#modalManaCost {
  font-weight: normal;
}

#modalCardName {
  color: #2E2E2E;
  margin: 0 0.25em 0 0;
}

/* card modal */

.overall {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 1172px) {
  .overall {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.mid {
  display: flex;
  flex-wrap: wrap;
}

.mid>div {
  width: 100%;
}

.counteinerMax {
  display: flex;
  width: 1200px;
  margin: auto;
  user-select: none;
  flex-flow: wrap;
  place-content: flex-start space-between;
  align-items: flex-start;
  vertical-align: top;
}

.CardMAXcontainer {
  width: 810px !important;
  float: left !important;
  margin-top: 0px !important;
  margin-right: 10px !important;
}

.sla {
  min-height: 100px;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: left;
  width: 100%;
  clear: both;
}

.cards-container {
  display: flex;
  gap: 2vw;
  place-content: flex-start;
  flex-flow: wrap;
  align-items: flex-start;
  height: 83vh;
  width: 100%;
  padding-left: 1vw;
  overflow-y: scroll;

  /* height: 97vh;
  width: 65vw; */
}

.cards-container::-webkit-scrollbar {
  width: 1.5vw;

}

.cards-container::-webkit-scrollbar-track {
  background: #1E1E1E;
}

.cards-container::-webkit-scrollbar-thumb {
  background: var(--Fogo-Color);
}

.Contend-pesquisar {
  display: flex;
  justify-content: center;
  place-items: center;
  top: 0px;
  z-index: 1000;
  margin-bottom: 10px;
  padding: 2px;
  text-align: left;
  height: 100px;
  width: 100%;
}

.Cards-pesquisados {
  padding-bottom: 2vh;
}

.SbAll {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 320px;
  height: 611px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #2E2E2E;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.705);

  /* display: flex;
    flex-flow: column;
    padding-left: 3vw;
    width: 49vw;
    background-color: #02FFFE; */
}

.SBdeck {
  padding-top: 3vh;
  align-self: center;
}

#SDck {
  padding-top: 2vh;
  text-align: center;
}
.deck-info{
  padding-top: 2vh;
  text-align: center;
}

#deck-count {
  color: #f1f1f1;
  padding-top: 1vh;
}

#nun {
  color: #f1f1f1;
}

.deck-card-image {
  width: 50px;
  height: 27.335px;
  object-fit: cover;
  object-position: 100% -13%;
}

.deck-card-image:hover {
  transition: 0.5s;
  background: linear-gradient(90deg, #02FFFE 0%, #6481FF 100%);
  cursor: pointer;
}

.deck-card-nameImg {
  width: 200px;
  height: 27px;
  object-fit: cover;
  object-position: 100% 0%;
  cursor: pointer;
}

.deck-card:hover {
  width: 251px;
  height: 32px;
  padding-left: 10px;
  transition: 0.5s;
  /* background: linear-gradient(90deg, #02FFFE 0%, #6481FF 100%); */
  cursor: pointer;
}

.deck-counter {
  color: var(--FontColors);
}

/* NAVIGATION */
ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav ul.navigation-menu {
  display: flex;
  background-color: #16161D;
  color: var(--FontColors);
  height: 50px;
  width: 100%;
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.1);
}

nav ul.navigation-menu li {
  flex: 1;
}

nav ul.navigation-menu li a {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul.navigation-menu li:hover {
  background-color: #FF6600;
}

/* NAVIGATION */


/* FOOTER */
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #151414;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position:fixed;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 80px;
}
.footer-logo span{
  color: #f1f1f1;
  font-size: larger;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget{
  padding-left: 40px;
  padding-right: 40px;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff5e14;
}
.copyright-area{
background: #202020;
padding: 23px 25px;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #ff5e14;
}



/* FOOTER */


/* INDEX */
#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.conjunto {
  display: flex;
  padding-bottom: 122px;
}

.escrita {
  display: block;
  width: 100%;
}

pre {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 126px;
  color: #47076d;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.705), -2px -2px 1px rgba(255, 255, 255, 0.705) ;
  font-size: 5rem;
  width: auto;
  border-radius: 0px 8px 8px 0px;
  padding-bottom: 38px;
  margin-left: 6vw;
}

#bot達o {
  background: #3e3e3e;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Noto Sans';
  width: 207px;
  transform: skew(-12deg);
  cursor: pointer;
  border-radius: 3px;
  height: 60px;
  margin-left: 15vw;
  margin-top: 49px;
  color: rgb(255, 255, 255);
  transition: 1s;
  box-shadow: 4px 5px 1px rgba(0, 0, 0, 0.705);
  overflow: hidden;
}

.spann {
  display: inline-block;

}

#bot達o::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: #1e1e1e;
  border-radius: 3px;
  z-index: -1;
  transition: 0.5s;

}

#bot達o:hover {
  color: #000;
  background: #5e5e5e;
  transform: scale(108%);
  transition: 1s;

}

#bot達o:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(108%);
  transition: .7s;
}